/*Requirements

Create a new file called "main.css"
Add a link element to the head of your index.html file
<link rel="stylesheet" href="main.css" type="text/css">
Edit the main.css file
add a declaration for each element in the body of your index.html file.
add properties to style the background color of each element.
add properties to style the border of each element.
add properties to style the font and text of each element.
Use at least 20 different properties. Include a list of these 20 at the TOP of your main.css file as a css comment.
Use at least 4 different units to set sizes of various aspects of your webpage.
Go learn something from 2 classmates; add a comment to your main.css file that describes what you learned.
View your index.html in the development server.
Validate your index.html file.
Validate your main.css file.
Copy this list of requirements and paste it into the top of your "main.css" file as a css comment. Put an asterisk in front of each one that you did.
Upload to the production server with sftp.
View your index.html in the production server.
I learned from Joyce how to do a linear gradient
How to link the css file with the HTMl file eliega*/


body {
   background: linear-gradient(to right, #65E95C 0%, #FAF200 100%);
}

h1 {
    color: MediumSpringGreen;
    background-color:SeaShell;
    font-family: "Arial";
    font-weight: 200;
    font-style: Italic; 
    letter-spacing: 2px;
    border-style: dashed;
    border-right: thick dotted;
    border-left: thick dotted;
    border-bottom: solid;
    height: 100px;
    width: 200mm;
    
}

h2 {
    background: -webkit-linear-gradient(#eee, #333);
    font-style: Italic;
    font-weight:200;
    text-decoration: underline;
}    
p {
   text-decoration: overline;
   opacity: 0.9;
   text-align: Center;
   text-transform: uppercase;
   outline: #00FF00 dotted thick;
   color: SkyBlue;
   background: SeaShell;
   font-variant: small-caps;
   letter-spacing: 3px;
   border-style:dotted;
   border-bottom: solid;
   border-top: dashed;
   border-bottom-color: blue;
   height: 200px;
   width: 350px;
   max-height: 200px;
   margin: 2cm 4cm 3cm 4cm;
}
footer {
   text-decoration: underline;
   text-align: Center;
   color: Green;
   background: Skyblue;
   font-variant: small-caps;
   letter-spacing: 3px;
   border-style:dashed;
   border-bottom: solid;
   border-top: dashed;
   border-bottom-color: #ff0000;
   height: 200px;
   width: 350px;
   max-width: 400px;
   padding: 2cm 3cm 2cm 4cm;
   margin: 2in 4in 3in 4in;
   box-shadow: 10px 8px 5px #888888;
}

h1,h2 {
   background: white; 
}
h2 ol {
   color: Black;
}
h2 ul {
   color:blue;
}
nav p {
    width: 300px;
    border: 25px solid skyblue;
    padding: 25px;
    margin: 25px;
    height: 25px;
}

   


    
     

